# dependencies
node_modules

# build outputs
.next
dist
out
build

# turbo
.turbo

# env
.env
.env.*
!.env.example

# vercel
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# legacy
/data
